* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: transparent !important;
    }
    

body {
        font-family: 'Raleway', sans-serif;
        overflow-x: hidden;
        background: transparent !important;
    }

#main-container {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
}

#sectors {
    width: 50%;
}

#wheel-container {
    width: 40%;
    margin: 0 auto;
}



main {
    max-width: 100vw !important;
}




#sector-one-box {
    margin-top: 20px;
    width: 100%;
    background-color: #34254A;
    color: #fff;
    padding: 15px;
    padding-bottom: 30px;
}

#sector-one-box > div.container > h3 {
    font-size: 34px;
    margin-bottom: 6px;
    font-weight: bold;
}

#sector-one-box > div.container > p {
    font-size: 17px;
    margin-bottom: 35px;
    font-weight: bold;
}

#sector-one-box > div.container > h3 > i {
    margin-left: 7px;
    cursor: pointer;
}

#sector-one-box > div.options {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 15px;
}

::-webkit-scrollbar {
    display: none;
}

#sector-one-box > div.options > label {
    width: 30%;
    margin-top: 11px;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

#sector-one-box > div.options > label > input {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

#startup-stage{
    margin-top: 50px;
    width: 70%;
}

#startup-stage > div.container > h3 {
    font-size: 34px;
    color:#fff ;
    font-weight: bold;
    margin-bottom: 13px;
}

#startup-stage > div.container > p {
    font-size: 17px;
    font-weight: bold;
    color:#fff ;
    margin-bottom: 30px;
}

#startup-stage .content-box {
    text-align: center;
}

#startup-stage .content-box i {
    width: 30px;
    height: 30px;
    padding-top: 7px;
    font-size: 16px;
    background: #fff;
    color: #2B1D51;
    border-radius: 90px;
}

#startup-stage .content-box p {
    margin-top: 10px;
    margin-bottom: 2px;
    color: #fff !important;
}

#startup-stage .content-box h4 {
    font-weight: 600;
    font-size: 20px;
    color: #fff;
}

#startup-stage .content-box p {
    font-size: 15px;
    color: #003a6d;
    margin-bottom: 10px;
}

#startup-stage .content-box button {
    color: #fff;
    border-color: #fff;
    order: 1px solid #2793cb;
    border: 1px solid;
    padding: 25px;
    fill: white;
    width: 16rem;
    height: 3rem;
    margin-top: .2rem;
    min-height: 3rem;
    flex: 0 0 100%;
    display: flex;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.range-box > div.container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: center;
}



div.range-box-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 25%;
    text-align: center;
}

div.range-box-item > label {
    color: #fff;
}

div.range-box-item > input {
    margin: 0 auto;
    margin-bottom: 6px;
    width: 30px;
    height: 30px;
    background: #fff;
}

div.range-box-item > input + *::before {
    margin: 0 auto;
    margin-bottom: 6px;
    width: 30px;
    height: 30px;
    background: #fff;
    
}


div.range-box-item > input:checked + *::before {
    background: red;
}


#services-required-box {
    margin-top: 50px;
    width: 100%;
    background-color: #70538b;
    color: #fff;
    padding: 15px;
    padding-bottom: 30px;
}

#services-required-box > div.container > h3 {
    font-size: 34px;
    margin-bottom: 6px;
    font-weight: bold;
}

#services-required-box > div.container > p {
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

#services-required-box > div.container > h3 > i {
    margin-left: 7px;
    cursor: pointer;
}

#services-required-box> div.options {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 15px;
}

#services-required-box > div.options > label {
    width: 30%;
    margin-top: 11px;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 15px;
}

#services-required-box > div.options > label > input {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}


#location {
    margin-top: 50px;;
}    

#location > div.container > h3 {
    font-size: 34px;
    color: #fff;
    font-weight: bold;
}

#location > div.container > p {
    font-size: 17px;
color: #fff;
font-weight: bold;
margin-top: 30px;
margin-bottom: 30px;
}


#salary {
    margin-top: 80px;
}    

#salary > div.container > h3 {
    font-size: 34px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 13px;
}

#salary > div.container > p {
    font-size: 15px;
color: #fff;
margin-bottom: 30px;
}

#summary {
    padding: 20px;
}

#summary > hr {
    margin-bottom: 20px;
}

#summary > button {
    color: #002e5b;
    border-color: #002e5b;
    border-radius: 30px;
    background-color: #fff;
    fill: white;
    width: 16rem;
    height: 3rem;
    margin-top: 20px;
    min-height: 4rem;
    flex: 0 0 100%;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

#summary > p {
    margin-bottom: 17px;
    font-size: 14px;
    color: #fff;
}



i.fa-info {
    border: 1px solid #fff;
    border-radius: 90px;
    padding-left: 13px;
    padding-top: 7px;
    width: 35px;
    height: 35px;
    font-size: 20px;
}

.wheel .quart {
    width: 109px !important;
    height: 109px !important;
}

.specialquart {
    background: red !important;
    grid-area: top-top;
}

.wheel {
    grid-template-areas:
        "top-left top-right"
        "top-left top-top"
        "bottom-left bottom-right" !important;
}

#wheel-container {
    width: 50%
}


#wheel-container .container {
    width: 18vw;
    margin-top: 40px;
    background: #fff;
    padding: 40px 20px;
}

div.number-of-active-section {
    position: absolute;
    top: 35%;
    left: 46%;
    text-align: center;
}

div.number-of-active-section > h3 {
    font-size: 27px;
    text-align: center;
}

@media(max-width: 1100px) {
    #fixed-box {
        position: absolute !important;
        width: 100% !important;
        text-align: center;
        
       
    }


    .info-box .container-box  {
        margin-bottom: 25px;
    }

    #wheel-container {
        padding: 0px !important;
    }

    #fixed-box > div.container {
        width: 40vw;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    div.number-of-active-section {
        position: absolute;
        top: 27% !important;
        left: 47% !important;
    }
}


@media(max-width: 800px) {
    #fixed-box {
        position: absolute !important;
        width: 100% !important;
        text-align: center;
        
       
    }

    .result-item {
        width: 90% !important;
    }

    #services-required-box > div.options > label {
        width: 50%;
    }

    div.range-box-item {
        width: 50%;
    }

    #sector-one-box > div.options > label {
        width: 50%;
    }

    #fixed-box > div.container {
        width: 40vw;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    div.number-of-active-section {
        position: absolute;
        top: 25% !important;
        left: 45% !important;
    }
}


@media(max-width: 600px) {
    #fixed-box {
        position: absolute !important;
        width: 100% !important;
        text-align: center;
        
       
    }

    #fixed-box > div.container {
        width: 70vw;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    div.number-of-active-section {
        position: absolute;
        top: 28% !important;
        left: 43% !important;
    }
}

@media(max-width: 414px) {
    #fixed-box {
        position: absolute !important;
        width: 100% !important;
        text-align: center;
        
       
    }

    #fixed-box > div.container {
        width: 80vw;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    div.number-of-active-section {
        position: absolute;
        top: 26% !important;
        left: 41% !important;
    }
}

@media(max-width: 1500px) {
    
div.number-of-active-section {
    position: absolute;
    top: 33%;
    left: 45%;
}

div.number-of-active-section > h3 {
    font-size: 18px !important;
}


}



div.number-of-active-section > p {
  
    text-align: center;
}

.chart-details {
    text-align: center;
    margin-top: 30px;
}

.chart-details > h4 {
    font-size: 20px;
    font-weight: bold;
}

.chart-details-2 {
    margin-top: 20px;
}

.chart-details-2 .containers {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

.chart-details-2 .containers > span {
    width: 40%;
    margin-bottom: 3px;
}

.chart-btn {
    text-align: center;
    margin-top: 30px;
}

.chart-btn > button {
    border-radius: 90px;
    border: 1px solid;
    padding: 13px 40px;
}


#fixed-box {
    position: fixed;
    width: 50%;
}


div.minority {
    padding: 15px;
}

div.minority > h3 {
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
}

div.minority > p {
    margin-top: 6px;
    font-size: 16px;
    font-weight: bold;
}

#minority-checkbox {
    width: 18px;
    height: 18px;
    margin-top: 5px;
}


.modal-dialog {
    margin-top: 45vh;
}

@media(max-width: 1100px) {
    #sectors {
        width: 100%;
    }

    #sector-one-box {
        text-align: center;
    }

    #sector-one-box > div.container > h3 > i {
        padding-right: 14px;
        cursor: pointer;
    }

    #services-required-box > div.container > h3 > i {
        padding-right: 13px;
    }

    #summary {
        text-align: center;
        margin: 0 auto;
    }

    #startup-stage{
        width: 100%;
        text-align: center;
    }

    #services-required-box {
        text-align: center;
    }

    #startup-stage > div.container > h3 > i {
        padding-right: 13px;
    }
    
    #sector-one-box > div.options {
        text-align: center;
        margin: 0 auto
    }
    
    #wheel-container {
        width: 100%;
        margin: 0 auto;
    }

    #summary > button {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .stick-to-position {
        position: relative !important;
    }

    .wheel-container {
        width: 100%;
    }

    label.wheel-open-close {
        display: none;
    }
}